*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color:#a4c5c6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}

.contForm{
    width: 60%;
    margin: 50px auto 0px;
}

.contInput{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.contInput input,
.contInput select,
.contInput textarea {
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    font-size: 17px;
}

.contInput input::placeholder{
    color:rgb(212, 212, 212);

}

.contInput textarea{
    resize: none;
}

.contInput input:focus,
.contInput select:focus,
.contInput textarea:focus{
    background-color: rgb(226, 226, 226);
    box-shadow: 7px;
    transition: all 0.5s ease-in-out;

}

.contInput input:hover,
.contInput select:hover{
    background-color: #d4ebd0;
}

.contBut{
   justify-content: center;
   align-items: center;
}

.contBut button{
    padding: 10px 20px;
    border-bottom: 10px;
    border:none;
    background-color: brown;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

.contInput button:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.contTyC{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

}

.contTyC input{
    margin-right: 20px;
}
