*
    margin:0
    padding: 0

grayy = #393e46
aguVer = #32e0c4

body
    background-color grayy
    padding 20
    height 1000px

.main
    width:100%
    max-width 1510px
    padding: 5px
    height:100px
    display:flex
    background-color aguVer

.hamburguerMenu
    height 200px

.logo
    width:200px
    height :200px
    
.menu
    display:flex
    justify-content right 
    width 100%
    padding-right: 20px
    .menu__item
        padding:10px
        list-style:none
        a
            text-decoration:none
            font-size 20px
    