*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 2000px;
}
/* --------------------------------Aqui empieza el head-------------------------------------- */

.contHeader{
    width: 100%;
    height: 150px;
    background-color:#323232;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.divMenu ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:10px 0 ;
}

.itemMenu{
    list-style: none;
    margin: 0px 50px;
}

.linkMenu{
    text-decoration: none;
    display: block;
    padding:11px 5px;
    color: white;
    font-size: 19px;
}

.imgLogo{
    width: 200px;
}

.divBuscador input{
    width: 180px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    padding: 6px 4px;
}

.fa-search{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 0px 15px 15px 0px;
}


/* --------------------------------Aqui empieza el Main-------------------------------------- */

.main{
    background-color:rgb(94, 94, 94);
    width: 100%;
    height: 100%;
}

ul.slider{
    position: relative;
    width: 100%;
    height: 540px;
}


ul.slider .slide{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    list-style: none;
    width: 100%;
    transition: opacity 2s;
}

ul.slider li:target{
    opacity:1;
}

ul.slider .firstSlide{
    opacity: 1;
}

.menu{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}

.menu > li{
    margin: 10px 20px;
    list-style: none;
    transition: all .3s ease-in-out;
}
.menu>li:hover{
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

.menu>li>a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: black;
    color:white;
    border-radius: 5px;
}


.contImg{
    padding: 278px 0;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1{
    background-image: url(./pics/AdrianCier/payaso.jpg);
}
.img2{
    background-image: url(./pics/CarloxAngarita/venom.jpg);
}
.img3{
    background-image: url(./pics/KoryAngarita/tigre.jpg);
}
.img4{
    background-image: url(./pics/michelabottin/tijeras.jpg);
}
.img5{
    background-image: url(./pics/NicoVera/serpiente.jpg);
}


/* --------------------------------Aqui empieza el Div Biografia de artistas-------------------------------------- */

.artista{
    margin:100px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
} 

.artista p{
    width: 300px;
    display: inline-block;
}

.artista img{
    width: 350px;
    margin-left: 200px;
}

.artistaDos{
    flex-direction: row-reverse;
    margin-right: 200px;
}
.artistaDos p{
    margin-left: 200px;
}


/* --------------------------------Aqui empieza el Footer-------------------------------------- */
.contFooter{
    background-color:#323232;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.contDiv{
   display: flex;
   flex-direction: column;
   width: 32%;
   height: 60px;
   justify-content: center;
   align-items: center;
   
}

.contDiv p,
.contDiv a{
    padding:5px auto;
    margin: 10px;
    font-size: x-large;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

.contDiv a:hover{
    font-size: 30px;
    transition: all 0.4s ease-in-out;
}