*{
    margin:0;
    padding:0;
    
}
body{
    margin-left:200px
}
.nomb{
    background-color: #f0f0f0;
    color:#888888;
}
.pTabla{
    border:5px;
    border-style:outset;
    border-color: lawngreen;
}
body{
    background-color:#ffe8df;
}
.perfilP{
    width: 30%;
    display:block;
}
.espLabo{
    width: 30%;
    display:block;
}