*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 2000px;
}
/* --------------------------------Aqui empieza el head-------------------------------------- */

.contHeader{
    height: 150px;
    background-color:#323232;
    display: flex;
    align-items: center;
}

.divMenu{
    width: 90%;
}

.picHamburguer{
    width: 32px;
    cursor: pointer;
}

.imgLogo{
    width: 200px;
}

.conlabelHamb,
.hambCheck{
    display:none;
}

.conMenu{
    display:flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.itemMenu{
    list-style: none;
    margin: 0px 50px;
}


.linkMenu{
    text-decoration: none;
    display: block;
    padding:11px 5px;
    color: white;
    font-size: 19px;
}

.conMenu .inpSerch{
    padding:3px;
    font-size: 15px;
    border-radius: 15px 0px 0px 15px ;
}

.fa-search{
    background-color: black;
    color: white;
    padding:15px 9px 0px 8px;
    border-radius: 0px 15px 15px 0px;
    margin-right: 40px;
    
}

/* --------------------------------Aqui empieza el Main-------------------------------------- */

.main{
    max-width: 1300px;
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.contTP .titleAr{
    font-size: 50px;
    border-bottom: 1px solid black;

}

.main .contTP{
    text-align: left;
    padding: 30px;
    border: solid 2px black;
    border-radius: 20px;
    height: 530px;
}

.contE{
    width: 50%;
    height: 500px;
    padding:0 20px;
    margin: auto;
    justify-content: center;
}

.contE img{
    margin-left: 90px;
}

.contTP .eventt{
    padding-top: 40px;
}

.divFechas{
    padding-top: 10px;
}

.divFechas .fa-calendar-alt,
.divFechas .p{  
    font-size: 30px;
    border-right: 1px solid black;
}

.contTP .contMaps{
    padding-top: 28px;
    width: 100%;
}

.conBotIns{
    display: flex;
    justify-content: center;
}

.botInscrib{
    width: 200px;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
    color:white;
    background-color: red;
}

.botInscrib{
    width: auto;
    justify-content: center;
}

.botInscrib:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
/* --------------------------------Aqui empieza el Footer-------------------------------------- */
.contFooter{
    background-color:#323232;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.contDiv{
   display: flex;
   flex-direction: column;
   width: 32%;
   height: 60px;
   justify-content: center;
   align-items: center;
   
}

.contDiv p,
.contDiv a{
    padding:5px auto;
    margin: 10px;
    font-size: x-large;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

.contDiv a:hover{
    font-size: 30px;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width:768px){
    .conlabelHamb{
        display:block;
        padding:10px 0px;
    }
    .conMenu{
        flex-direction: column;
        background-color: grey;
        transform:translateX(-110%)
    }
    .picHamburguer{
        margin-left: 40px;
    }
    .hambCheck:checked+.conMenu{
        transform: translateX(0);
    }
    .conMenu .inpSerch{
        display:none;
    }
    .conMenu .fa-search{
        display: none;
    } 
    .contHeader{
        align-items: flex-start;
    }
    .imgLogo{
        order: 2;
        margin-right: 15px;
    }
    .contE{
        flex-direction: column;
        width: 80%;
    }
    .main{
        height: 3300px;
    }
    .contFooter{
        flex-direction: column;
        height: 360px;
        align-items: center;
    }
    .contFooter div{
        width: 300px;
        border-bottom: 1px solid black;
    }
   .contDiv p,
    .contDiv a{
        font-size: 15px;
    }
    .contDiv a:hover{
        font-size: 18px;
        transition: all 0.4s ease-in-out;
    }   

}