.navrow,
.footer{
    height: 120px;
}

.menu{
    display: flex;
    list-style: none;
    margin:auto;
}

.menu a{
    padding: 15px;
    border-radius: 10px;
    border: solid 2px crimson;
}

.menu a:hover{
    color: rgb(255, 255, 255);
    background-color: darkblue;
    text-decoration: none;
 }
 
 .divcolor{
    height: 500px;
}

.arti{
    height:200px;
}
