*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 2000px;
}
/* --------------------------------Aqui empieza el head-------------------------------------- */

.contHeader{
    width: 100%;
    height: 150px;
    background-color:#323232;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.divMenu ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:10px 0 ;
}

.itemMenu{
    list-style: none;
    margin: 0px 50px;
}

.linkMenu{
    text-decoration: none;
    display: block;
    padding:11px 5px;
    color: white;
    font-size: 19px;
}

.imgLogo{
    width: 200px;
}

.divBuscador input{
    width: 180px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    padding: 6px 4px;
}

.fa-search{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 0px 15px 15px 0px;
}

/* --------------------------------Aqui empieza el Main-------------------------------------- */

.main{
    width: 100%;
    height: 2000px;
}

.main .contMi{
    text-align: center;
    margin-top: 50px;
}

.main .parraf{
    width: 60%;
    margin:auto;
    text-align: center;
    margin-bottom: 30px;
}

.contNos{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    color: white;
}
/* --------------------------------Aqui empieza el Footer-------------------------------------- */
.contFooter{
    background-color:#323232;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.contDiv{
   display: flex;
   flex-direction: column;
   width: 32%;
   height: 60px;
   justify-content: center;
   align-items: center;
   
}

.contDiv p,
.contDiv a{
    padding:5px auto;
    margin: 10px;
    font-size: x-large;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

.contDiv a:hover{
    font-size: 30px;
    transition: all 0.4s ease-in-out;
}